huggingface
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-ollama
llama-index
llama-cloud-services
ollama

pandas 
numpy
openpyxl
scipy
matplotlib
seaborn
plotly
python-docx

loguru
pydantic-settings

streamlit
PyPDF2